.profcard_main
{ 
    

    border-radius: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-right: 15px;
    margin-left:15px;

  border:0.1px solid rgb(179, 179, 179);
 
   
}

.profcard_main:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    
}

.profcard_img
{
    height: 200px;
    border-radius: 30px;
    margin-top: 25px;
    margin-left: 30px;
}

.profcard_body
{ 
    display: grid;
    grid-template-columns: 1.2fr 3fr 3fr;
    height:200px;
    margin-bottom: 50px;

 

}

.profcard_det
{
    text-align: left;
    margin-top: 40px;
   
}


.profcard_btn
{
    height:50px;
    width:150px;
    background-color: orange;
    border-width: 0px;
    border-radius: 30px;
    color:white;
    font-size: 20px;
    margin-left: 150px;
    margin-top: 100px;
    cursor: pointer;
}

.profcard_btn:hover
{

    background-color: black;
    
}

.profcard_name{
    font-weight: bold;
    margin-top: 10px;
    margin-block-end: 0em;
}
.profcard_price
{
    color:orange;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    
}

.profseller_name
{
    color: grey;
    margin-block-start: 0em;
}

