.home 
{

    justify-content: center;
    margin-left:auto;
    margin-right:auto;
    margin-top: auto;
    margin-bottom: auto;


}



.top_banner
{
    display:grid;
    grid-template-columns: 60% 30%;     

    margin-top: 2%;
    background-color: white;
    margin-bottom:5%;

}


.home_image
{
  height: 350px;
  width: 500px;
  margin-top: -35px;
}

.banner
{
    display:grid;
    grid-template-columns: 50% 50%;
    margin-top: 20px;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
    height: 350px;
   
  
    
}

.banner_one
{
    background-color:rgb(255, 247, 230);
    margin-right: 10px;
    padding:10%;
    color:black;
    font-weight: normal;
    border-radius: 30px;
    margin-left: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
   
}
.banner_one:hover
{
    background-color:rgb(255, 203, 130);
    border:0.1px solid rgb(214, 214, 214);
}

.banner_two
{
    background-color:rgb(255, 247, 230);
    margin-left:10px;
    padding:10%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 30px;
    margin-right:30px;
}

.banner_two:hover
{
    background-color:rgb(255, 203, 130);
    border:0.1px solid rgb(214, 214, 214);
}

.button_buy
{
        
        color: white;
        font-size: 25px;
       border-radius: 30px;
       border-width: 0px;
        text-align: center;
        padding:10px 40px;
        background-color: orange;
        cursor: pointer;
      
}
.button_buy:hover
{
        
        
        background-color: black;
      
}


.button_sell
{
    color: white;
        font-size: 25px;
       border-radius: 30px;
       border-width: 0px;
        text-align: center;
        padding:10px 40px;
        background-color: orange;
        cursor: pointer;

}

.button_sell:hover
{
        
        
        background-color: black;
      
}




.top_header{
   
font-size: 100px;
font-style: bold;
font-weight: normal;
margin-block-start: 0em;
    margin-block-end: 0em;
    color:black;
}
.top_header_two
{
    font-weight: normal;
font-size: 100px;
color:orange;
margin-block-start: 0em;
    margin-block-end: 0em; 
    
}

.cat_name
{
    font-weight:normal;
    font-size: 40px;
    padding: 30px;
}



