.details_card_cat

{
    display:grid;
    grid-template-columns: 33.3% 33.3% 33.3%;   
    /* grid-template-rows: repeat(4,1fr);   */
    margin-left: 50px;
    margin-right: 50px;
    
                     
}

